* {
  margin: 0;
  padding: 0;
}
body {
  background: #FFDEAD;
  font-family: "微软雅黑", "黑体", "宋体", Verdana, Geneva, Arial, Helvetica, sans-serif;
}
p {
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 20px;
}
.tips {
  position: fixed;
  bottom: 0;
  font-size: 20px;
  opacity: 0.6;
  color: gray;
}
.copyright {
  z-index: 999;
  position: fixed;
  bottom: 0;
  right: 5%;
  font-size: 15px;
  opacity: 0.3;
}
#loading {
  background: #eee;
  box-shadow: #aaa 0 5px 5px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.load-btn {
  display: none;
  cursor: pointer;
  text-align: center;
  position: absolute;
  width: 125px;
  line-height: 30px;
  height: 30px;
  border-radius: 20px;
  box-shadow: #aaa 5px 5px 5px;
  background: #519cea;
  color: #efe;
  bottom: 49%;
  left: 0;
  right: 0;
  margin: auto;
}
.load-btn:hover {
  background: #61acfa;
}
.loading1 {
  position: absolute;
  top: 30%;
  left: -15%;
  opacity: 0;
  transition: all 1.5s;
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
}
.load1in {
  opacity: 0.8;
  left: 15%;
}
.loading2 {
  position: absolute;
  bottom: 30%;
  right: -15%;
  opacity: 0;
  transition: all 1.5s;
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
}
.load2in {
  opacity: 0.8;
  right: 15%;
}
#loading3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto ;
  height: 10px;
  width: 60px;
}
#loading3 div {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 15px;
  background: #aaf;
}
.dot1 {
  animation: dot1 1s linear infinite none;
  -webkit-animation: dot1 1s linear infinite none;
  -moz-animation: dot1 1s linear infinite none;
  -o-animation: dot1 1s linear infinite none;
  -ms-animation: dot1 1s linear infinite none;
}
.dot2 {
  animation: dot2 1s linear infinite none;
  -webkit-animation: dot2 1s linear infinite none;
  -moz-animation: dot2 1s linear infinite none;
  -o-animation: dot2 1s linear infinite none;
  -ms-animation: dot2 1s linear infinite none;
}
.dot3 {
  animation: dot3 1s linear infinite none;
  -webkit-animation: dot3 1s linear infinite none;
  -moz-animation: dot3 1s linear infinite none;
  -o-animation: dot3 1s linear infinite none;
  -ms-animation: dot3 1s linear infinite none;
}
@keyframes dot1 {
  0% {
    background: #ff0000;
  }
  33% {
    background: #00bfff;
  }
  66% {
    background: #ffd700;
  }
  100% {
    background: #ff0000;
  }
}
@-webkit-keyframes dot1 {
  0% {
    background: #ff0000;
  }
  33% {
    background: #00bfff;
  }
  66% {
    background: #ffd700;
  }
  100% {
    background: #ff0000;
  }
}
@-moz-keyframes dot1 {
  0% {
    background: #ff0000;
  }
  33% {
    background: #00bfff;
  }
  66% {
    background: #ffd700;
  }
  100% {
    background: #ff0000;
  }
}
@-o-keyframes dot1 {
  0% {
    background: #ff0000;
  }
  33% {
    background: #00bfff;
  }
  66% {
    background: #ffd700;
  }
  100% {
    background: #ff0000;
  }
}
@-ms-keyframes dot1 {
  0% {
    background: #ff0000;
  }
  33% {
    background: #00bfff;
  }
  66% {
    background: #ffd700;
  }
  100% {
    background: #ff0000;
  }
}
@keyframes dot2 {
  0% {
    background: #ffd700;
  }
  33% {
    background: #ff0000;
  }
  66% {
    background: #00bfff;
  }
  100% {
    background: #ffd700;
  }
}
@-webkit-keyframes dot2 {
  0% {
    background: #ffd700;
  }
  33% {
    background: #ff0000;
  }
  66% {
    background: #00bfff;
  }
  100% {
    background: #ffd700;
  }
}
@-moz-keyframes dot2 {
  0% {
    background: #ffd700;
  }
  33% {
    background: #ff0000;
  }
  66% {
    background: #00bfff;
  }
  100% {
    background: #ffd700;
  }
}
@-o-keyframes dot2 {
  0% {
    background: #ffd700;
  }
  33% {
    background: #ff0000;
  }
  66% {
    background: #00bfff;
  }
  100% {
    background: #ffd700;
  }
}
@-ms-keyframes dot2 {
  0% {
    background: #ffd700;
  }
  33% {
    background: #ff0000;
  }
  66% {
    background: #00bfff;
  }
  100% {
    background: #ffd700;
  }
}
@keyframes dot3 {
  0% {
    background: #00bfff;
  }
  33% {
    background: #ffd700;
  }
  66% {
    background: #ff0000;
  }
  100% {
    background: #00bfff;
  }
}
@-webkit-keyframes dot3 {
  0% {
    background: #00bfff;
  }
  33% {
    background: #ffd700;
  }
  66% {
    background: #ff0000;
  }
  100% {
    background: #00bfff;
  }
}
@-moz-keyframes dot3 {
  0% {
    background: #00bfff;
  }
  33% {
    background: #ffd700;
  }
  66% {
    background: #ff0000;
  }
  100% {
    background: #00bfff;
  }
}
@-o-keyframes dot3 {
  0% {
    background: #00bfff;
  }
  33% {
    background: #ffd700;
  }
  66% {
    background: #ff0000;
  }
  100% {
    background: #00bfff;
  }
}
@-ms-keyframes dot3 {
  0% {
    background: #00bfff;
  }
  33% {
    background: #ffd700;
  }
  66% {
    background: #ff0000;
  }
  100% {
    background: #00bfff;
  }
}
.img {
  width: 160px;
  border-radius: 100px;
}
.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto ;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
#area1_1 {
  position: fixed;
  background: linear-gradient(60deg, rgba(138, 43, 226, 0.6) 60%, rgba(0, 0, 0, 0) 48%);
  background: -webkit-linear-gradient(60deg, rgba(138, 43, 226, 0.6) 60%, rgba(0, 0, 0, 0) 48%);
  background: -moz-linear-gradient(60deg, rgba(138, 43, 226, 0.6) 60%, rgba(0, 0, 0, 0) 48%);
  background: -o-linear-gradient(60deg, rgba(138, 43, 226, 0.6) 60%, rgba(0, 0, 0, 0) 48%);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 250%;
  height: 250%;
}
#area1_2 {
  position: fixed;
  background: linear-gradient(240deg, rgba(165, 42, 42, 0.6) 60%, rgba(0, 0, 0, 0) 48%);
  background: -webkit-linear-gradient(240deg, rgba(165, 42, 42, 0.6) 60%, rgba(0, 0, 0, 0) 48%);
  background: -moz-linear-gradient(240deg, rgba(165, 42, 42, 0.6) 60%, rgba(0, 0, 0, 0) 48%);
  background: -o-linear-gradient(240deg, rgba(165, 42, 42, 0.6) 60%, rgba(0, 0, 0, 0) 48%);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 250%;
  height: 250%;
}
#area1_3 {
  background: #f8f8ff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto ;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  text-align: center;
  position: fixed;
  box-shadow: black 2px 2px 2px;
  border-radius: 10px;
  padding: 50px;
  width: 500px;
  height: 300px;
  background: #eee;
  opacity: 0;
}
#area2 {
  box-shadow: black 0px 0px 8px;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 200px;
  height: 200px;
  background: #FFA500;
  border-radius: 100px;
}
#area2_1 {
  display: none;
  background: #FFA500;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  margin: auto ;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 500px;
  height: 400px;
}
#area2_2 {
  display: none;
  box-shadow: gray 2px 2px 5px;
  border-radius: 10px;
  position: absolute;
  background: #eee;
  top: 0;
  bottom: 0;
  left: -1400px;
  right: 0;
  margin: auto ;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 600px;
  height: 200px;
}
#album2 {
  top: 100px;
}
#album3 {
  left: 100px;
}
#album4 {
  right: 200px;
}
#album5 {
  top: 100px;
  right: 200px;
}
#album6 {
  right: 0;
}
.smallalbum {
  box-shadow: gray 5px 5px 5px;
  position: absolute;
  overflow: hidden;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.smallalbum img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto ;
  left: -50px;
  width: 350px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  z-index: auto;
}
.smallalbum img:hover {
  left: 0px;
}
.smallalbum:hover {
  width: 350px;
  height: 262.5px;
  border-radius: 10px;
  z-index: 999;
}
.bigalbum {
  box-shadow: gray 5px 5px 5px;
  position: absolute;
  overflow: hidden;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.bigalbum img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto ;
  left: -100px;
  width: 450px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  z-index: auto;
}
.bigalbum img:hover {
  left: 0px;
}
.bigalbum:hover {
  width: 450px;
  height: 337.5px;
  border-radius: 10px;
  z-index: 999;
}
#area3_1 {
  position: fixed;
  top: 0%;
  height: 20%;
  width: 0;
  background: #9ACD32 20%;
  opacity: 0.8;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: black 2px 2px 2px;
}
#area3_2 {
  opacity: 0.8;
  position: fixed;
  top: 20%;
  height: 20%;
  width: 0;
  background: #DC143C 20%;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: black 2px 2px 2px;
}
#area3_3 {
  opacity: 0.8;
  position: fixed;
  top: 40%;
  height: 20%;
  width: 0;
  background: #6495ED 20%;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: black 2px 2px 2px;
}
#area3_4 {
  opacity: 0.8;
  position: fixed;
  top: 60%;
  height: 20%;
  width: 0;
  background: #A0522D 20%;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: black 2px 2px 2px;
}
#area3_5 {
  opacity: 0.8;
  position: fixed;
  top: 80%;
  height: 20%;
  width: 0;
  background: #FF1493 20%;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: black 2px 2px 2px;
}
#area3_6 {
  position: fixed;
  height: 100%;
}
.round_1 {
  opacity: 0;
  transform: rotate(180deg);
  transform-origin: 50% 0%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 0%;
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 0%;
  -o-transform: rotate(180deg);
  -o-transform-origin: 50% 0%;
  -ms-transform: rotate(180deg);
  -ms-transform-origin: 50% 0%;
}
.round_2 {
  opacity: 0;
  transform: rotate(-180deg);
  transform-origin: 50% 100%;
  -webkit-transform: rotate(-180deg);
  -webkit-transform-origin: 50% 100%;
  -moz-transform: rotate(-180deg);
  -moz-transform-origin: 50% 100%;
  -o-transform: rotate(-180deg);
  -o-transform-origin: 50% 100%;
  -ms-transform: rotate(-180deg);
  -ms-transform-origin: 50% 100%;
}
#area3_6_1 {
  position: fixed;
  background: #f0e68c;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  margin: auto;
  width: 600px;
  padding: 20px 20px 0 20px;
  bottom: 50%;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0px 0px;
}
#area3_6_1 div {
  margin-left: 40px;
}
#area3_6_2 {
  padding: 0 20px 0 20px;
  position: fixed;
  background: #f0e68c;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  margin: auto;
  width: 600px;
  left: 0;
  right: 0;
  top: 50%;
  border-radius: 0 0 10px 10px;
}
#area3_6_2 div {
  margin-left: 40px;
}
#area4_1 {
  position: fixed;
  width: 100%;
  padding-bottom: 20%;
  background: linear-gradient(rgba(15, 15, 15, 0.8), #0f0f0f, #000000);
  background: -webkit-linear-gradient(rgba(15, 15, 15, 0.8), #0f0f0f, #000000);
  background: -moz-linear-gradient(rgba(15, 15, 15, 0.8), #0f0f0f, #000000);
  background: -o-linear-gradient(rgba(15, 15, 15, 0.8), #0f0f0f, #000000);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  top: 100%;
  color: #eee;
  text-align: center;
  z-index: 10000;
}
#area4_1 h1 {
  font-size: 102px;
  margin-top: 0;
}
#area4_1 p {
  margin: 100px;
}
#area4_1 p.end1 {
  font-size: 2em;
  margin: 25% 0;
}
#area4_1 p.end2 {
  font-size: 2em;
  margin: 25% 0 400px 0;
}
.endshow {
  animation: end 20s linear 1 forwards;
  -webkit-animation: end 20s linear 1 forwards;
  -moz-animation: end 20s linear 1 forwards;
  -o-animation: end 20s linear 1 forwards;
  -ms-animation: end 20s linear 1 forwards;
}
@keyframes end {
  0% {
    top: 85%;
  }
  100% {
    top: -1200px;
  }
}
@-webkit-keyframes end {
  0% {
    top: 85%;
  }
  100% {
    top: -1200px;
  }
}
@-moz-keyframes end {
  0% {
    top: 85%;
  }
  100% {
    top: -1200px;
  }
}
@-o-keyframes end {
  0% {
    top: 85%;
  }
  100% {
    top: -1200px;
  }
}
@-ms-keyframes end {
  0% {
    top: 85%;
  }
  100% {
    top: -1200px;
  }
}
.link {
  cursor: pointer;
  color: #191970;
  font-weight: bold;
}
.link:hover {
  color: #CD5C5C;
}
